# Python
__pycache__/
*.py[cod]
*.pyd
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environment variables and secrets
.env
.env.*
!.env.example

# AWS
.aws-sam/
samconfig.toml

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
terraform.tfvars
*.auto.tfvars

# VS Code
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Logs
*.log